@use '../../scss/variables.scss' as v;
@use '../../scss/forms';

/* Animations */
@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-in {
  animation: zoom-in 0.2s ease-out;
}

/* Scrollbar Customization */
.max-h-48::-webkit-scrollbar {
  width: 6px;
}

.max-h-48::-webkit-scrollbar-track {
  background: transparent;
}

.max-h-48::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.max-h-48::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}