<section class="w-full m-auto flex justify-center">
  <nav id="navbody" class="w-full md:w-[320px] px-8">
    <ul class="ul">
      <li class="li">
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fa-solid fa-chart-pie nav-icon"></i>
        </a>
      </li>
      <li class="li">
        <a routerLink="/home" routerLinkActive="active">
          <i class="fa-solid fa-house nav-icon"></i>
        </a>
      </li>
      <li class="li">
        <a class="new-transaction" [routerLink]="transactionLink" routerLinkActive="active">
          +
        </a>
      </li>
      <li class="li">
        <a routerLink="/wallets" routerLinkActive="active">
          <i class="fa-solid fa-wallet nav-icon"></i>
        </a>
      </li>
      <li class="li">
        <a routerLink="/settings" routerLinkActive="active">
          <i class="fa-solid fa-gear nav-icon"></i>
        </a>
      </li>
    </ul>
  </nav>

</section>