#navbody {
  height: 40px;
  background-color: #fff;
  // border-radius: 40px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.041);
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  margin: auto;
  padding: 0 12px;

  .ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;

    .li {
      display: inline-block;
      position: relative;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &.new-transaction {
          width: 50px;
          height: 50px;
          font-size: 90;
          font-weight: 700;
          border-radius: 50%;
          background-color: #a4ff11;
          position: absolute;
          top: 0%;
          left: -50%;
          transform: translate(-50%, -50%) scale(1.2);
          border: 3px solid #fff;
          z-index: 2;
        }

        .svg {
          width: 30px;
          height: 30px;
          opacity: 0.8;
          cursor: pointer;
          transition: all 0.2s ease;
        }

        &:hover .svg {
          color: #eb28b0;
          transform: translateY(-4px);
          opacity: 1;
        }

        &.active .svg {
          color: #eb28b0;
        }


      }
    }
  }
}