<section class="w-full m-auto flex justify-center">
  <nav id="navbody" class="w-full md:w-[320px] px-8">
    <ul class="ul">
      <li class="li">
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fa-solid fa-chart-pie nav-icon"></i>
        </a>
      </li>
      <li class="li">
        <a routerLink="/home" routerLinkActive="active">
          <i class="fa-solid fa-house nav-icon"></i>
        </a>
      </li>
      <li class="li">
        <div class="expandable-nav" [class.expanded]="isExpanded">
          <button class="sub-btn income" (click)="navigateTo('income')">
            <i class="fa-solid fa-plus"></i>
          </button>
          <button class="sub-btn expense" (click)="navigateTo('expense')">
            <i class="fa-solid fa-minus"></i>
          </button>

          <a class="new-transaction" href="javascript:void(0)" (click)="toggleMenu($event)"
            [class.active-nav]="isExpanded">
            <span *ngIf="!isExpanded">+</span>
            <span *ngIf="isExpanded" class="close-icon">&times;</span>
          </a>
        </div>
      </li>
      <li class="li">
        <a routerLink="/wallets" routerLinkActive="active">
          <i class="fa-solid fa-wallet nav-icon"></i>
        </a>
      </li>
      <li class="li">
        <a routerLink="/settings" routerLinkActive="active">
          <i class="fa-solid fa-gear nav-icon"></i>
        </a>
      </li>
    </ul>
  </nav>

</section>