<div class="transaction-type-container flex flex-col w-full">
  <div class="transaction-type-header flex w-full gap-4">
    <a
      [routerLink]="['/new-transaction/categories/income']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="button"
    >
      + income
    </a>
    <a
      [routerLink]="['/new-transaction/categories/expense']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="button"
    >
      - expense
    </a>
  </div>

  <div class="categories flex flex-row flex-wrap">
    <app-categories />
  </div>

  <app-transaction-input />
</div>
